<%= form_tag(el_capitan_save_path, method: "post") do %>

    <%= label_tag l(:ec_description) %>
    <ul class="checkbox-members">
          <% @members.each do |user| %>
              <li>
                <%= check_box_tag 'members[]', user.id , user.tracking , :disabled => (user.weekly_hours == 0? true : false) %>
                <%= user.firstname + " " + user.lastname %>
              </li>
          <% end %>
    </ul>

    <div class= "add" >
      <%= submit_tag(l(:ec_btn_add) , :class => "btnadd") %>
    </div>
<% end %>

<a class="btnadd" href="<%= el_capitan_test_path %>"><%= l(:ec_btn_test) %> </a>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'elcapitan', :plugin => 'el_capitan' %>
<% end %>
